<div class="jumbotron">
  <h1>To Do</h1>
  <p class="lead">
    A handy way of keeping your life straight.
  </p>
</div>

<div class="row marketing">
  <label>Hide completed items:
    <input type="checkbox" ng-model="hideComplete" ng-click="switchFilter()">
  </label>
  <div ng-repeat="item in toDoList" class="panel">
    <to-do-item ng-controller="ToDoItemCtrl" item="item"></to-do-item>
  </div>
</div>

<div>
  <form novalidate class="simple-form">
    To do item: <input type="text" ng-model="item.description" placeholder="Item description here"></input><br />
    Due date: <input type="text" ng-model="item.due" placeholder="MM/dd/yyyy"></input><br />
    <input type="submit" ng-click="update(item)" value="Save"></input>
  </form>
</div>
